<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenDiffEditor.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenDiffEditor.WPF.Properties.Settings>
            <setting name="DiffCommand" serializeAs="String">
                <value>%LOCALAPPDATA%\Programs\Microsoft VS Code\bin\code.cmd</value>
            </setting>
            <setting name="Argument" serializeAs="String">
                <value> --diff {old} {new}</value>
            </setting>
        </OpenDiffEditor.WPF.Properties.Settings>
    </userSettings>
</configuration>